$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'views/font-awesome/scss/_animated.scss';
@import 'views/font-awesome/scss/_bordered-pulled.scss';
@import 'views/font-awesome/scss/_core.scss';
@import 'views/font-awesome/scss/_fixed-width.scss';
@import 'views/font-awesome/scss/_icons.scss';
@import 'views/font-awesome/scss/_larger.scss';
@import 'views/font-awesome/scss/_list.scss';
@import 'views/font-awesome/scss/_mixins.scss';
@import 'views/font-awesome/scss/_path.scss';
@import 'views/font-awesome/scss/_rotated-flipped.scss';
@import 'views/font-awesome/scss/_stacked.scss';
@import 'views/font-awesome/scss/_variables.scss';
@import 'views/font-awesome/scss/font-awesome.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
// endinjector
